# https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
**/__snapshots__/** linguist-generated=true
bun.lock linguist-generated=true
